<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: bootstrapCss()}"></th:block>
    <title>Movies</title>
</head>

<body>
    <th:block th:replace="~{fragments :: navbar('', 'active')}"></th:block>
    <div class="container">
        <h1>Questa è la lista dei migliori film!</h1>
        <p th:text="|I migliori film sono: ${titles}" />
    </div>

    <th:block th:replace="~{fragments :: bootstrapJs()}"></th:block>
</body>

</html>