<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: bootstrapCss()}"></th:block>
    <title th:text="${type}" />
</head>

<body>
    <th:block th:replace="~{fragments :: navbar('','')}"></th:block>
    <div class="container">
        <div class="col-12 justify-center align-center">
            <div class="row justify-center align-center" th:object="${selected}">
                <div class="col-4 text-center">
                    <div class="card">
                        <img th:src="*{image}" class="card-img-top" th:alt="*{titolo}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{titolo}" />
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="card-body h-100">
                        <h5 class="card-title" th:text="|dettagli per: *{titolo}|" />
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, aut nihil? Ab consequuntur
                            ad corrupti, quidem perferendis quas ut culpa eligendi esse nihil quia quisquam labore
                            neque, earum natus impedit!</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <th:block th:replace="~{fragments :: bootstrapJs()}"></th:block>
</body>

</html>