<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: bootstrapCss()}"></th:block>
    <title>Songs</title>
</head>

<body>
    <th:block th:replace="~{fragments :: navbar('active', '' )}"></th:block>
    <div class="container text-center">
        <h1>Questa è la lista delle migliori canzoni!</h1>
        <p th:text="|le migliori canzoni sono:|" />
        <div class="col-12 justify-center align-center">
            <div class="row">
                <div class="col-4 text-center" th:each=" Song : ${songsList}">
                    <div class="card" th:object="${Song}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{titolo}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments :: bootstrapJs()}"></th:block>
</body>

</html>